* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: 900;
    margin: 4px;
    margin-bottom: 1px;
}

/* Bar itself */
window#waybar {
    background-color: transparent;
    min-height: 20px;
    border: none;
}

/* All modules inside the bar */
window#waybar .module {
    color: black;
    border: 3px solid #eb551f;
    border-radius: 7px;
    background-color: transparent;
    padding: 5px;
}

/*
#custom-test-module {
    background-color: rgba(254, 219, 197, 1);}
}
*/
